<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 15-04</title>
</head>
<body>
    <a href="https://www.google.com/search?q=google&oq=google&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTITCAEQLhiDARjHARixAxjRAxiABDIGCAIQIxgnMgwIAxAjGCcYgAQYigUyDQgEEAAYgwEYsQMYgAQyDQgFEAAYgwEYsQMYgAQyDQgGEAAYgwEYsQMYgAQyDQgHEAAYgwEYsQMYgAQyDQgIEAAYgwEYsQMYgAQyDQgJEAAYgwEYsQMYgATSAQkyMDg0ajBqMTWoAgiwAgE&sourceid=chrome&ie=UTF-8">Google, Yeah!</a>
    <img src="static/duck.jpg" alt="duck">
    <img src="https://pbs.twimg.com/media/GM_avFTWcAE7r_d?format=jpg&name=4096x4096" alt="meme" height="400">
    <i><h1>Título 1</h1>
    <i><h2>Título 2</h2>
    <i><h3>Título 3</h3>
    <i><h4>Título 4</h4>
    <i><h5>Título 5</h5>
    <i><h6>Título 6</h6>
<h1>Lista de times</h1>
<!-- ul = lista não ordenada, usada quando a ordem não importa
Feita como uma bullet list -->
<h1>ul - Lista não ordenada</h1>
<ul>
    <li>São Paulo</li>
    <li>Sport</li>
    <li>Cruzeiro</li>
    <li>Internacional</li>
    <li>Fluminense</li>
</ul>
<!-- ol = lista ordenada -->
<h1>ol - Lista ordenada</h1>

<ol>
    <li>São Paulo</li>
    <li>Sport</li>
    <li>Cruzeiro</li>
    <li>Internacional</li>
    <li>Fluminense</li>
</ul>
<h1>dl - Lista de definição</h1>
<!-- dl é a lista, dt é o termo, dd é a descrição -->
<dl>
    <dt>HTML</dt>
    <dd>Linguagem de marcação de hipertexto</dd>
    <dt>JAVA</dt>
    <dd>Melhor linguagem de programação</dd>
</dl>

</body>
</html>